@font-face {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  src: url("fonts/pt-sans-regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  src: url("fonts/pt-sans-regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: italic;
  font-weight: 400;
  src: url("fonts/pt-sans-regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: italic;
  font-weight: 700;
  src: url("fonts/pt-sans-regular.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  text-align: center;
  margin: 0;
  display: flex;
  min-height: 100%;
  flex-direction: column;
  font-family: "PT Sans";
  sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-header {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  color: #000000;
  font-size: 20px;
  line-height: 26px;
  text-decoration: none;
}

.logo {
  display: block;
  width: 139px;
  margin-left: 70px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;
}
.navigation {
  width: 435px;
  margin: 0;
}

.navigation-link {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  margin-right: 34px;
  text-decoration: none;
  list-style-type: none;
}

.navigation-user {
  display: flex;
  justify-content: space-evenly;
  width: 300px;
  margin-left: 282px;
}

navigation-user-1 {
  display: flex;
  width: 42px;
  height: 66px;
  margin-right: 20px;
}

.navigation-user-2 {
  display: flex;
  margin-left: 30px;
  margin-right: 20px;
}

.navigation-user-3 {
  margin-right: 70px;
  margin-top: 20px;
}

.main-container {
  flex-grow: 1;
}

.containar-welcome {
  display: block;
  background: url("images/index/background-1.jpg") no-repeat;
  background-color: #e4eaee;
  width: 1200px;
  height: 485px;
  margin: auto;
  background-size: 100% auto;
}

.advantages-text-hidden {
  margin-bottom: 80px;
  font-size: 22px;
  line-height: 36px;
}

.description-text {
  display: flex;
  justify-content: center;
  padding-top: 63px;
  padding-bottom: 31px;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  width: 1200px;
  margin: 0 auto;
  text-transform: uppercase;
}

.advantages-text {
  padding-top: 80px;
  width: 400px;
  height: 384px;
}

.advantages-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.advantages-container-1 {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  height: 384px;
  margin: 0 auto;
  color: #ffffff;
  background-color: #83B3D3;
}

.advantages-containar-2 {
  display: flex;
  justify-content: space-between;
  width: 400px;
  height: 384px;
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-containar-3 {
  display: flex;
  justify-content: space-between;
  width: 400px;
}

.advantages-containar-4 {
  width: 400px;
  background-color: rgba(131, 179, 211, 0.12);
}

.column-advantages {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  height: 384px;
  margin: 0 auto;
}

.advantages-container-5 {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  height: 384px;
  margin: 0 auto;
  color: #ffffff;
  background-color: #83B3D3;
}

.advantages-container-6 {
  display: flex;
  justify-content: space-between;
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-container-7 {
  display: flex;
  justify-content: space-between;
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-container-8 {
  display: flex;
  justify-content: space-between;
  background-color: rgba(131, 179, 211, 0.12);
}

.offers {
  width: 1200px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.offers-title {
  display: flex;
  justify-content: center;
  padding-bottom: 29px;
  padding-top: 91px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  width: 720px;
  margin: 0 auto;
}

.offers-description {
  display: flex;
  justify-content: center;
  padding-bottom: 56px;
  font-size: 22px;
  line-height: 26px;
  width: 720px;
  margin: 0 auto;
}

.e-mail-text {
  width: 1200px;
  height: 411px;
}

.e-mail-main-page {
  display: flex;
  justify-content: center;
  background: url("images/index/background-2.jpg") no-repeat;
  width: 1200px;
  height: 411px;
  background-color: #83B3D3;
  justify-content: space-between;
  margin: 0 auto;
}

.e-mail-title {
  display: flex;
  justify-content: center;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  margin-top: 94px;
  margin-bottom: 29px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
}

.e-mail-description {
  display: flex;
  justify-content: center;
  margin: 0;
  margin-bottom: 46px;
  font-size: 22px;
  line-height: 26px;
  color: #ffffff;
  text-transform: none;
}
/*
.page-footer {
  width: 1200px;
  display: flex;
  margin: 0 auto;
}

.page-footer-container {
  display: flex;
  width: 1200px;
  height: 120px;
  margin: 0 auto;
  margin-top: 93px;
  justify-content: space-between;
}

.page-footer-socials {
  justify-content: space-between;
  width: 250px;
  margin-left: 72px;
}

.page-footer-socials-title {
  display: flex;
  justify-content: space-between;
}

.icon-style {
  min-height: 30px;
  min-width: 30px;
  padding-right: 29px;
}

.page-footer-contacts {
  width: 720px;
  font-size: 40px;
  line-height: 40px;
  padding-bottom: 30px;
}

a {
  text-decoration: none;
  color: #000000;
}

.page-footer-Logo {
  display: flex;
  justify-content: center;
  width: 240px;
  padding-left: 53px;
  margin-right: 72px;
}


.main-catalog {
  background: url("images/catalog/background-1.jpg") no-repeat;
  display: flex;
  width: 1200px;
  background-size: 100% auto;
  margin: 0 auto;
}

.containar-inner-title {
  width: 1200px;
  display: flex;
  justify-content: start;
  font-size: 60px;
  padding-left: 71px;
  padding-top: 35px;
  line-height: 77, 64px;
  margin-top: 0;
  margin-bottom: 16px;
  color: #ffffff;
}

.breadcrumbs-link {
  display: flex;
  color: #ffffff;
  text-decoration: none;

}

.filters {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 1200px;
  color: #ffffff;
}

.inner-title {
  font-size: 16px;
  line-height: 20, 7px;
}

.containar-inner-filters {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  line-height: 25, 88px;
  color: #ffffff;
  text-decoration: none;
}

.breadcrumbs-icon-1 {
  display: flex;
  padding-left: 73px;
  padding-top: 8px;
}

.breadcrumbs-icon-2 {
  display: flex;
  padding-left: 73px;
  padding-top: 8px;
}

.filter-1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 width: 300px;
}

.control-input {
  margin-left: -35px;
}

.filter-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.filter-3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.button {
  font-size: 16px;
  line-height: 20, 7px;
}

.control-input {
  font-size: 18px;
  line-height: 23, 29px;
  align-items: flex-start;
}

.main-container {
  display: inline-block;
}

.catalog-search {
  display: inline-block;
  font-size: 30px;
  line-height: 38, 82px;
  text-transform: uppercase;
  padding-top: 44px;
}

.select-control {
  margin-left: 191px;
  font-size: 18px;
  line-height: 23, 29px;
}

option {
  font-size: 18px;
  line-height: 23, 29px;
}

.hotels {
  display: flex;
}

.pagination-container {
  display: flex;
  padding: 30px 57px;
}

.pagination {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  width: 55px;
  height: 55px;
  padding: 14px 20px;
  line-height: 16px;
  font-weight: 700;
  color: #ffffff;
  background-color: #83B3D3;
  text-decoration: none;
}

.pagination-link:hover {
  background-color: #ffffff;
}

.pagination-link:focus {
  outline: 2px solid #F2F2F2;
  background-color: #83B3D3;
}

.pagination-current {
  color: #000000;
  background-color: #F2F2F2;
}

.e-mail-catalog {
  display: flex;
  justify-content: center;
  color: #000000;
  background-color: #ffffff;
}

.e-mail-title {
  display: flex;
  justify-content: center;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  margin-top: 94px;
  margin-bottom: 29px;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
}

.e-mail-description {
  display: flex;
  justify-content: center;
  margin: 0;
  margin-bottom: 46px;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  text-transform: none;
}
