@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/pt-sans-regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/pt-sans-regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/pt-sans-regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/pt-sans-regular.woff2") format("woff2");
  font-display: swap;
}

*,
*::before,
*::after {
box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin:0;
  min-height: 100%;
  font-family: "PT Sans", sans-serif; 
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #d2d2d2;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color:#ffffff;
  background-color: #83B3D3;
}
.button-light,
.button-current {
 color:#ffffff;
 background-color: #83B3D3;
}

.logo {
display: block;
width: 139px;
height: 70px;
padding-left: 70px;
margin: 0;
padding: 0;  
}

.page-header {
  display:flex;  
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  padding-left: 70px;
  padding-right: 70px;
}

.navigation {
  /*margin: 0 auto;*/
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-grow: 1;

}
.navigation-list {
  display:flex;
  list-style:none;
  width: auto;
  float: left;
  margin: 0;
  margin-left: 30px;
  padding: 0;
  flex-grow: 1;
}

.navigation-item {
  margin-right: 34px;
  box-sizing: border-box;
}

.navigation-item:last-child {
  margin-right: 0;
}

.navigation-user {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 264px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.navigation-link {
  font-size: 20px;
  line-height: 26px;
  font-weight:700;
  text-align: center;
  text-decoration: none;
  color: inherit;
}

.main-container {
  flex-grow: 1;
}

.containar-welcome {
  background-image: url("images/index/background-1.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.welcome {
display: block;
margin: 0 auto;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
}

.main-container {
  flex-grow: 1;
}

.advantages {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
}

.advantages-text {
font-size: 22px;
line-height: 36px;
text-transform: none;
text-align: center;
}

.advantages-title {
font-size: 24px;
line-height: 28px;
text-transform: uppercase;
font-weight: 700;
}

.advantages-list {
  display:contents;
  margin: 0;
  padding: 0;
  list-style: none; 
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.advantages-item {
  width: 400px; 
  min-height: 384px;
}

.advantages-item-ful {
width: 100%;
display: flex;
flex-wrap: wrap;
}

.advantages-item-text {
  width: 400px;
  padding-top: 97px;
}

.advantages-features {
margin: 0;
padding: 0;
list-style: none;
display: flex;
flex-wrap: wrap;
}

.bg-dark-blue {
  background-color: #83B3D3;
  color: #ffffff;
}

.bg-none {
 padding-top: 90px;
}

.bg-light-blue {
  background-color: rgba(131, 179, 211, 0.12);
  padding-top: 90px;
}

.bg-light-light-blue {
  background-color: rgba(131, 179, 211, 0.2);
}

 .bg-light-blue-start {
  background-color: rgba(131, 179, 211, 0.12);
 }

.search-container {
  text-align: center;
}

.search-title {
font-size: 30px;
line-height: 36px;
font-weight: 700;
text-transform: uppercase;
}

.search-description {
  font-size: 22px;
  line-height: 26px;
}

.subscribe-bg {
  background-image: url("images/index/background-2.jpg");
  background-size: 100% auto;
  color:#ffffff;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  padding-top: 98px;
  text-transform: uppercase;
  text-align: center;
}

.e-mail-description {
  font-size: 22px;
  line-height: 26px;
  padding-top: 29px;
  text-transform: none;
  font-weight: normal;
}

.page-footer {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
align-items: center;
padding-top: 42px;
padding-bottom: 46px;
padding-left: 72px;
padding-right: 72px;
flex-grow: 1;
}

.footer-social-item {
  list-style: none;
  margin-right: 30px;
  box-sizing: border-box;
}

.footer-social-list {
  margin: 0;
  padding: 0;
  width: 168px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.footer-social-item:last-child {
  margin-right: 0;
}

.contacts-phone {
  font-size: 40px;
  line-height: 40px;
  font-style: normal;
  color: #000000;
  text-decoration:none;
}

.inner-heder {
background-image: url("images/catalog/background-1.jpg");
background-repeat: no-repeat;
text-align: center;
}

.inner-header-title {
  font-size: 60px;
  line-height: 77px;
  display: flex;
  flex-wrap: wrap;
  color: #ffffff; 
  margin: 0 auto;
  margin-left: 71px;
 padding-top: 35px;
}

.breadcrumbs {
  color: #ffffff; 
  display: flex;
  flex-wrap: wrap;
  margin-left: 73px;
}

.breadcrumbs-item {
  list-style: none;
}

.breadcrumbs-link {
font-size: 16px;
line-height: 20px;
text-align: start;
}

.containar-inner-filter-list {
  display: flex;
  flex-wrap: wrap;
  width: auto;
  margin-left: 72px;
  color: #ffffff; 
  justify-content: space-between;
}

.containar-inner-filter-item {
  text-align: start;
  margin-bottom: 83px;
}

.containar-inner-filter {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  display: flex;
  flex-wrap: wrap; 
}

.filter-item {
  line-height: 24px;
  list-style: none;
  padding: 0;
  margin: 0;
}

}
.catalog-search {
  font-size: 30px;
  line-height: 38px;
  text-transform: uppercase;
  font-weight: 700;
}

.celect-control-search {
  line-height: 23px;
  width: 287px;
  border: 2px solid #E6E6E6;
 }

.hotels-download {
  width: 619px;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  font-size: 20px;
  line-height: 25px;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-between;
}
.select {
  padding-right: 72px;
}

.pagination-link {
  color:#ffffff;
  background-color: #83B3D3;
  text-decoration: none;
  font-size: 20px;
  line-height: 25px;
  font-weight: 700;
  display: block;
  box-sizing: border-box;
  padding: 14px 23px 15px 21px;
}

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
  width: auto;
  padding-left: 72px;
}

.pagination-item {
  width: 55px;
}

.pagination-current {
  color: #000000;
  background-color: #F2F2F2;
}

 .hotels-results {
  display: flex;
  flex-wrap: wrap;
  width: auto;
  margin: 0;
  padding: 0;
  flex-grow: 1;
  align-items: center;
  padding-left: 71px;
  padding-right: 71px;
  }
  
  .catalog-search {
  font-size: 30px;
  line-height: 39px;
  text-transform: uppercase;
  font-weight: 700;
  padding-right: 192px;
  }

  .select-control {
  width: 287px;
  }

 .hotels-list {
  margin: 0;
  padding: 0;
  padding-left: 72px;
  padding-right: 72px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.hotels-list-item {
  width: 340px;
  padding: 20px;
}

.hotel-list-item-parameters {
 margin: 0;
 padding: 0;
 list-style: none;
 display: flex;
 flex-wrap: wrap;
 justify-content: space-between;
 align-items: center;
}

.hotel-type {
 width: 133px;
}

.product-price {
 width: 143px;
}

.product-more {
  width: 133px;
  margin: 10px;
}

.product-add-favorite {
  width: 140px;
  align-items: center;
  border-width: 2px;
  border-style: solid;
  background-color:#756257 ;
}

.hotel-card-title {
  font-size: 24px;
  line-height: 31px;
}

.hotel-rating {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: auto;
  margin: 0;
  padding: 0;
  align-items: center;
}

.hotel-rate {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  width: 160px;
}

.more-add-favorite {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; 
  justify-content: space-between;
  width: auto;
  margin: 0;
  padding: 0;
  align-items: center;
}

.subscribe {
  background-image: none;
  background-size: 100% auto;
  color:#000000;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  padding-top: 98px;
  text-transform: uppercase;
  text-align: center;
}